.board {
  margin:0 -5px;
}

.square {
  font-size: 5em;
  height:100px;
  width:100px;
  border:solid black 1px;
  display: inline-block;
  color:black;
  background-color: white;
  vertical-align: top;
  margin-top:5px;
}
