.main-header {

background-size: ;
background-color: tomato;
font-family: 'Ubuntu Condensed', sans-serif;
margin-bottom:20px;

}
.title{
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px black;
}

.footer {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: white;
  border-top: 1px solid black;
  margin-bottom:0;
  border-bottom:30px solid white;
}
.border {
  position:absolute;
  height:100px;
}

body {

  margin:0;
}
.font {
font-family: 'Ubuntu Condensed', sans-serif;
}
.background {
  background-color: rgb(240,250,255)
}

nav a {
display:inline-block;
background-color:  rgb(240,250,255);
text-decoration: none;
border:1px solid black;
margin:10px;
padding:5px;
border-radius: 5px;
}
nav a:hover {
background-color:rgb(240, 250, 255, .5);
text-decoration: none;
}
nav a:active {
font-weight: bold;
text-decoration: none;
}
nav a:visited {
text-decoration: underline;

}






.menu {
  padding:40px 10px 10px 0px;
}
