.main-header {
background-color: tomato;
font-family: 'Ubuntu Condensed', sans-serif;
}

.footer {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {

  margin:0;
}
.font {
font-family: 'Ubuntu Condensed', sans-serif;
}

nav a {
display:inline-block;
background-color: white;
text-decoration: none;
border:1px solid black;
margin:10px;
padding:5px;
border-radius: 5px;
}

.menu {
  padding:40px 10px 10px 0px;
}
