.main-nav {
  font-size: 1.5em;
  color:white;
  height:70px;
  padding-left:15px;
  text-shadow: 1px 1px black;
  background-image: linear-gradient(grey, white);
}

h1 {
  margin-top:0px;
}

a {
font-size: 1.5em;
margin:15px 0px 10px 15px;
text-shadow: 1px 1px grey;
padding:7px;
border-radius:5px;
background-color: skyblue;
color: white;
text-decoration: none;
box-shadow: 1px 1px grey;

}
