*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
}












body {
    font-family: 'Baskervville', serif !important;
  
  }
  .main-nav {
    font-size: 1.3em;
    color:white;
    height:70px;
    padding-left:15px;
    text-shadow: 1px 1px black;
    margin-bottom: 0px;
    left:50%;
    bottom:50%;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(-50%);
  text-align: center;
  }
  
  .backgrounds {
    background-color: black;
  background-size:cover;
  background-size:100%;
  }
  
  @media (max-width:768px) {
  .backgrounds {
    background-size:768px;
  }
  }
  
  h1 {
    margin:0px;
  }
  
  .skill {
    padding:30px 10px;
  }
  
  .ahome {
  display:inline-block;
  font-size: 1.3em;
  margin:0 0 10px 0;
  padding:7px;
  border-radius:1px;
  color: white;
  text-decoration: none;
  text-align: center;
  }
  .ahome:hover {
    color:tomato;
    text-decoration: none;
  }
  .ahome:active {
    color: lightblue;
    text-decoration: none;
  }
  i {
    margin: 0 5px;
    font-size: 1.2em;
  }
  
  #toplink {
    top:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
  }
  #bottomlink {
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
  }
  #leftlink {
    top:50%;
    left:0;
    transform: translateY(-50%);
    position:absolute;
  }
  #rightlink {
    top:50%;
    right:0;
    transform: translateY(-50%);
    position:absolute;
  }
  #topexit {
    display:none;
  }
  #bottomexit {
    display:none;
  }
  #leftexit {
    display:none;
  }
  #rightexit {
    display:none;
  }
  
  @media (max-width : 500px) {
  
  
    #lefttext {
      display: inline-block;
      transform: translateX(-20px) rotate(90deg)
    }
    #righttext {
      display: inline-block;
      transform:translateX(27px) rotate(-90deg) ;
    }
  }
  
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  .overlayrl {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    transition: .3s;
  }
  .overlayud {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    transition: .3s;
  }
  .right {
    top: 0;
    right: 0;
  }
  .left {
    top: 0;
    left: 0;
  }
  .top {
    top: 0;
    right: 0;
  
  }
  .bottom {
    bottom: 0;
    right: 0;
  
  }
  
  .overlay-content {
    color:black;
      text-align: center;
    margin-top: 50px; 
  }
    
  .closebtn {
    color:black;
    position: fixed;
    top: 10px;;
    right: 40px;
    font-size: 60px;
    display:block;
    text-decoration: none;
    padding:20px;
  }
  .closebtn:hover {
    text-decoration: none;
  }
  .closebtn:active {
    text-decoration: none;
  }
  header:hover {
    color:lightblue;
  }
  
  #download {
    border-radius: 5px;
    color:white;
    background-color: darkblue;
    padding:10px;
  }
  
  #resume {
    margin: 0 auto;
    width:100%;
    max-width: 800px;
    min-width: 400px;
    overflow:auto;
  }
  
  .Resume {
    width:100%;
    max-width: 400px;
  }
  
  #aboutme {
    max-width: 800px;
  }
  
  .contact i {
    font-size: 5em;
    margin:20px;
  }
  
  #mail {
  color:lightblue;
  }
  #phone {
    color:tomato;
  
  }
  #linkedin {
    color:tomato;
  
  }
  #github {
    color:lightblue;
  }
  


/*# sourceMappingURL=three.css.map*/