
a {
   background-color:white;
   border-radius: 5px;
   padding: 3px;
   text-decoration: none;
   color:black;
   margin: 3px;
}


td {
  background-color: white;
}

.left {
  float:left;
}

.right {
  float:right;
}

.title {
  margin-top:0;
  padding-top:20px;
  margin-bottom:0;
  padding-bottom:20px;
  background-color: black;
  background-size: cover;
  color:white;
}
