
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 200px;    /* Footer height */
}
.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;            /* Footer height */
}

#scroll {
  font-size: 50px;
  background-color: lightblue;
  color:white;
  text-shadow: 1px 1px black;
  border: 1px solid black;
  transition-duration: 1s;
}
 #scroll a {
   color:white;
   text-decoration: none;
 }

.big {
  text-align: center;
  background-color: rgb(240,250,255) !important;
  padding:0 !important;

}

.carousel {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px, 0px black;
  max-width: 550px;
}
.carousel-indicators li {
      height:10px !important;
width:10px !important;
    border-radius: 50%;
  top:10px;
}

.slideshow {
margin:auto;
}
.imgs {
  width:100%;
}


.main-header {

background-size: ;
background-color: tomato;
font-family: 'Ubuntu Condensed', sans-serif;
margin-bottom:50px;

}
.title{

  font-weight: bold;
  color:white;
  text-shadow: 1px 1px black;
}

.footer {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: white;
  border-top: 1px solid black;
  margin-bottom:0;
  border-bottom:30px solid white;
}
.border {
  position:absolute;
  height:100px;
}

body {

  margin:0;
}
.font {
font-family: 'Ubuntu Condensed', sans-serif;
}
.background {
  background-color: rgb(240,250,255)
}

nav a {
display:inline-block;
color:black;
font-size: 20px;
background-color:  rgb(240,250,255);
text-decoration: none;
border: none;
margin:10px;
padding:5px;
border-radius: 5px;
min-width: 40px;
}
nav a:hover {
  color:black;
background-color:rgb(240, 250, 255, .5);
text-decoration: none;
}
nav a:active {
font-weight: bold;
text-decoration: none;
}
nav a:visited {
text-decoration: underline;

}

@media (max-width:575px){
  nav a {
    display:block;
    text-align:center;
    margin: 10px 30px;
  }
  .title {
    font-size: 30px;
  }
}
.scroll-left {
height: 50px;
overflow: hidden;
position: relative;
}
.scroll-left p {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%);
transform:translateX(100%);
/* Apply animation to this element */
-moz-animation: scroll-left 10s linear infinite;
-webkit-animation: scroll-left 10s linear infinite;
animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% {
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%);
}
100% {
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%);
}
}
